{% extends 'store/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block content %}
	<h1 class="container-fluid text-center">{{product.name}}</h1>
	<div class="container">
	<div class="row" >
		<div style="border:2px solid black;width:50%;margin: auto;">
		<img class="thumbnail" src="{{product.imageURL}}"/>
		</div>
    </div>
    <div class="row">
    	<h1 class="container-fluid">Description:</h1>
    	<p>
    		{{product.desc}}
    	</p>
    </div>
    <div class="row">
    	<h1 class="container-fluid">Rating:</h1>
    	{{product.rating}}    	
    </div>
    
	</div>
{% endblock content %}

 {% block loginspace %}
                   {% if userLoggedIn %} 
                   <span class="top-text">Hello {{request.user.username}}</span>                  
                   <a href="/logout/" class="btn btn-danger">Logout</a>
                   {% else %}
                   <span class="top-text">Hello Guest</span>
                   <a href="/login/" class="btn btn-warning">Login</a>
                   {% endif %}
 {% endblock loginspace %}

